@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto|Raleway|Cabin|Nobile|Electrolize|Exo+2|Yantramanav|Ubunto+Mono|Quantico|Anton');

$heading-size: 84px;
$bg-color: rgb(242, 242, 242);
$background-color: rgb(237, 236, 236);
$box-shadow: 0px 3px 22px 2px darken($bg-color, 13%);
$text-black: rgb(48, 48, 48);
$beforeNavHover: rgba(255, 255, 255, 0.7);
$afterNavHover: rgba(237, 237, 237, 0.9);

@keyframes onHoverNavItem {
  0%   { color: $beforeNavHover; }
  100% { color: white; }
}

body {
  background: #f7f459; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7f459, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7f459, #f1ffc0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.headingCard {
  display: flex;
  justify-content: center;
  background-color: rgb(33, 33, 33);
  margin: 0;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: $heading-size;
  background: #f7f459; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7f459, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7f459, #f3f5bf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
  margin: 10px 0;
}

@keyframes whiteCardFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.whiteCard {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  padding: 20px;
  margin: 30px 20px 20px 20px;
  font-family: "Montserrat";
  width: 31%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  animation: whiteCardFadeIn 1s;
  color: $text-black;
  font-size: 44px;
  flex-wrap: wrap;
}

.whiteCard:hover {
  background-color: lighten($background-color, 1%);
}

.whiteCardColumn {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  padding: 30px 20px 20px;
  margin: 30px 20px 20px 20px;
  font-family: "Montserrat";
  width: 31%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  animation: whiteCardFadeIn 1s;
  color: $text-black;
  font-size: 44px;
  flex-wrap: wrap;
}

.whiteCardData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: $background-color;
  padding: 20px;
  margin: 10px 20px 20px 20px;
  font-family: "Montserrat";
  width: 70%;
  border-radius: 4px;
  box-shadow: $box-shadow;
  animation: whiteCardFadeIn 1s;
  color: $text-black;
  font-size: 44px;
  // flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 20px;
}

.cardContainer2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.SearchMainContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:20px;
}

.SearchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 30px;
}

.formText {
  font-size: 20px;
  display: block;
  margin: 35px 0 -5px 0;
}

.formText2 {
  font-size: 20px;
  display: block;
}

.budgetDataText {
  margin-bottom: 14px;
}

.formDescriptionText {
  font-size: 18px;
  display: flex;
  margin: 15px 0 55px 0;
  width: 335px;
  color: lighten($text-black, 30%);
  justify-content: space-between
}

.inputBoxes {
  width: 90%;
  padding: 10px;
}

input {
  font-size: 15px;
}

.buttonLinks {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  border-radius: 5%;
  padding: 10px;
  background: darken($background-color, 10%);
  color: $beforeNavHover;
  font-size: 18px;
}

.buttonLinks:hover {
  background-color: darken($background-color, 20%);
  animation: onHoverNavItem 0.1s;
  color: white;
  box-shadow: 0px 3px 22px 2px darken($bg-color, 3%);
  cursor: pointer;
}

.buttonLinkss {
  margin-top: 35px;
  margin-bottom: 25px;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  border-radius: 5%;
  padding: 10px;
  background: darken($background-color, 10%);
  color: $beforeNavHover;
  font-size: 18px;
}

.buttonLinkss:hover {
  background-color: darken($background-color, 20%);
  // animation: onHoverNavItem 0.1s;
  // color: white;
  box-shadow: 0px 3px 22px 2px darken($bg-color, 3%);
  cursor: pointer;
}

#buttonLinks2 {
  border-radius: 2%;
  margin: auto;
  background: $background-color;
  color: lighten($text-black, 20%);
  animation: whiteCardFadeIn 1s;
}

#buttonLinks2:hover {
  background: lighten($background-color, 1%);
  color: lighten($text-black, 20%);
  width: 200px;
}

button span {
  
}
button:hover span {
  max-width: 7rem;
}

textarea:focus, input:focus{
    outline: none;
}

.banana {
  background-color: rgb(250, 254, 178);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.formHeading {
  margin-top: 10px;
}

.totalCostHeading {
  margin: 10px 0 12px 0;
}

.totalCostText {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 35px 0 12px 0;
}

.whiteCardTransparent {
  margin-top: 50px;
}

.yellowDataText {
  background-color: rgb(87, 86, 86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}