body {
  background-color: rgb(92, 200, 208);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonLinks {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px;
  background: black;
  color: white;
}

.buttonLinks:hover {
  background-color: rgb(23, 81, 85);
}

.linkText {
  color: rgba(255, 255, 255, 0.619);
  text-decoration: none;
}

 